h1 {
  font: 2.5em arial;
  font-weight: bold;
}
table {
  border-collapse: collapse;
}
th, td {
  font: 0.9em arial;
  padding: 4px;
  min-width: 100px;
  border: 1px solid lightgray;
}
th {
  font-weight: bold;
  text-align: left;
}
p {
  font: 0.9em arial;
}
